In [177]:
import pandas as pd
import numpy as np
# Load the dataset
file_path = 'daily_data.csv'
data = pd.read_csv(file_path)

# Print the column names and first few rows to inspect the data
# print(data.columns)
print(data.head())

    day_id   city_id  temperature_celsius            condition_text  wind_kph  \
0  D0001    C001                     27.0                                 6.1
1  D0002    C001                     22.0                                 6.1
2  D0003    C001                     20.0  Light Rain with Thunder        3.6
3  D0004    C001                     17.0  Clear and Sunny                6.1
4  D0005    C001                     18.0                                 3.6

   wind_degree  pressure_mb  precip_mm  humidity  cloud  feels_like_celsius  \
0          210         1006        0.0        54     75                28.0
1          170         1006        0.0        73     75                24.5
2           10         1011        4.5       100     75                20.0
3          150         1018        0.0        88      0                17.0
4           92         1019        0.0        94      0                18.0

   visibility_km  uv_index  gust_kph  air_quality_us-epa-index  sunrise  \
0           10.0         6      11.9                         2  6:04 AM
1           10.0         1      23.4                         1  6:05 AM
2           10.0         1      12.6                         1  6:05 AM
3           10.0         1      11.2                         1  6:06 AM
4           10.0         1       9.0                         1  6:07 AM

    sunset
0  7:19 PM
1  7:18 PM
2  7:18 PM
3  7:16 PM
4  7:15 PM

In [178]:
day_ids = data['day_id']
day_ids

0       D0001
1       D0002
2       D0003
3       D0004
4       D0005
         ...
2888    D2889
2889    D2890
2890    D2891
2891    D2892
2892    D2893
Name: day_id, Length: 2893, dtype: object

In [179]:
data['city_id'] = data['city_id'].str.replace('C', '').astype(int)

In [180]:
# Fill missing values with column means for numeric data
modified_columns = ['city_id','temperature_celsius','condition_text', 'wind_kph', 'wind_degree', 'pressure_mb',
    'precip_mm', 'humidity', 'cloud', 'feels_like_celsius',
    'visibility_km', 'uv_index', 'gust_kph', 'air_quality_us-epa-index'
]
# Display the first few rows to verify the changes
numerical_data = data[modified_columns]
numerical_data.isnull().sum()

city_id                     0
temperature_celsius         0
condition_text              0
wind_kph                    0
wind_degree                 0
pressure_mb                 0
precip_mm                   0
humidity                    0
cloud                       0
feels_like_celsius          0
visibility_km               0
uv_index                    0
gust_kph                    0
air_quality_us-epa-index    0
dtype: int64

In [181]:
numerical_data.loc[numerical_data['condition_text'] == '', 'condition_text'] = 'null'

In [182]:
numerical_data['condition_text'] = numerical_data['condition_text'].replace(r'^\s*$', np.nan, regex=True)
numerical_data

C:\Users\himan\AppData\Local\Temp\ipykernel_18348\2556659068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data['condition_text'] = numerical_data['condition_text'].replace(r'^\s*$', np.nan, regex=True)

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1
2,1,20.0,Light Rain with Thunder,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1
3,1,17.0,Clear and Sunny,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,Clear and Sunny,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1
2889,112,17.4,NaN,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1
2890,112,19.2,NaN,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2
2891,112,19.2,NaN,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2
2892,112,18.6,NaN,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2

In [183]:
# Convert 'sunrise' and 'sunset' to datetime format
data['sunrise'] = pd.to_datetime(data['sunrise'], format='%I:%M %p').dt.time
data['sunset'] = pd.to_datetime(data['sunset'], format='%I:%M %p').dt.time

# Calculate daylight duration in minutes
data['sunrise'] = pd.to_datetime(data['sunrise'].astype(str))
data['sunset'] = pd.to_datetime(data['sunset'].astype(str))
numerical_data['daylight_duration'] = (data['sunset'] - data['sunrise']).dt.seconds / 60

C:\Users\himan\AppData\Local\Temp\ipykernel_18348\1292378679.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['sunrise'] = pd.to_datetime(data['sunrise'].astype(str))
C:\Users\himan\AppData\Local\Temp\ipykernel_18348\1292378679.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['sunset'] = pd.to_datetime(data['sunset'].astype(str))
C:\Users\himan\AppData\Local\Temp\ipykernel_18348\1292378679.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data['daylight_duration'] = (data['sunset'] - data['sunrise']).dt.seconds / 60

In [184]:
numerical_data

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,Light Rain with Thunder,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,Clear and Sunny,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,Clear and Sunny,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1,722.0
2889,112,17.4,NaN,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,NaN,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,NaN,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,NaN,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [185]:
weather_mapping = {
    'Clear and Sunny': 1,
    'Partly Cloudy': 2,
    'Light Precipitation': 3,
    'Cloudy and Overcast': 4,
    'Mist or Fog': 5,
    'Rain Showers': 6,
    'Light Rain with Thunder': 7,
    'Thunderstorms': 8,
    'Moderate to Heavy Rain': 9
}

# Strip leading and trailing spaces from 'condition_text' column


# Display the updated DataFrame

In [186]:
numerical_data['condition_text'] = numerical_data['condition_text'].str.strip()
numerical_data

C:\Users\himan\AppData\Local\Temp\ipykernel_18348\894658105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data['condition_text'] = numerical_data['condition_text'].str.strip()

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,Light Rain with Thunder,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,Clear and Sunny,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,Clear and Sunny,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1,722.0
2889,112,17.4,NaN,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,NaN,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,NaN,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,NaN,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [187]:
# Replace categories with numerical values in 'condition_text' column
numerical_data['condition_text'] = numerical_data['condition_text'].replace(weather_mapping)
numerical_data

C:\Users\himan\AppData\Local\Temp\ipykernel_18348\1429676004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data['condition_text'] = numerical_data['condition_text'].replace(weather_mapping)

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,7.0,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,1.0,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,1.0,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1,722.0
2889,112,17.4,NaN,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,NaN,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,NaN,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,NaN,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [188]:
numerical_data.head(10)

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,7.0,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,1.0,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
5,1,20.0,NaN,3.6,96,1019,0.0,88,0,20.0,10.0,1,11.2,1,786.0
6,1,21.0,2.0,4.0,310,1015,0.0,100,50,21.0,10.0,1,15.1,2,783.0
7,1,21.0,NaN,20.2,330,1011,0.0,53,75,21.0,10.0,1,17.3,1,781.0
8,1,23.0,NaN,3.6,63,1013,0.0,47,75,24.8,10.0,1,20.5,1,778.0
9,1,24.0,NaN,15.1,330,1014,0.0,54,75,25.3,10.0,1,9.7,1,775.0

In [189]:
original_numerical_data = numerical_data
original_numerical_data

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,7.0,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,1.0,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,1.0,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1,722.0
2889,112,17.4,NaN,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,NaN,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,NaN,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,NaN,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [190]:
# Remove rows with missing values
numerical_data = numerical_data.dropna()
numerical_data

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
2,1,20.0,7.0,3.6,10,1011,4.50,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,1.0,6.1,150,1018,0.00,88,0,17.0,10.0,1,11.2,1,790.0
6,1,21.0,2.0,4.0,310,1015,0.00,100,50,21.0,10.0,1,15.1,2,783.0
18,1,19.0,1.0,3.6,64,1017,0.00,88,0,19.0,10.0,1,8.3,3,751.0
27,2,19.0,2.0,3.6,83,1010,0.00,73,25,19.0,10.0,1,8.3,1,783.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2838,110,27.0,2.0,19.1,90,1014,0.01,70,25,29.8,10.0,6,45.6,1,724.0
2863,111,21.4,3.0,3.6,178,1012,0.00,89,75,21.4,10.0,6,6.6,1,728.0
2873,112,16.9,1.0,16.6,68,1018,0.00,44,2,16.9,10.0,1,27.0,1,707.0
2886,112,19.5,1.0,5.4,27,1014,0.00,34,0,19.4,10.0,1,11.2,2,720.0
2888,112,17.1,1.0,13.3,61,1017,0.00,57,3,17.1,10.0,1,22.2,1,722.0

In [192]:
# Normalize the data without 'condition_text' column using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
target_variable = numerical_data['condition_text'].astype(int)
numerical_data = numerical_data.drop('condition_text', axis=1)
numerical_data_scaled = scaler.fit_transform(numerical_data)
numerical_data_scaled = pd.DataFrame(numerical_data_scaled, columns=numerical_data.columns)
numerical_data_scaled

,city_id,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,0.000000,0.468750,0.000000,0.016854,0.470588,0.229592,1.000000,0.75,0.371257,0.308176,0.000,0.187697,0.0,0.640884
1,0.000000,0.375000,0.045126,0.410112,0.676471,0.000000,0.875000,0.00,0.311377,0.308176,0.000,0.165615,0.0,0.624309
2,0.000000,0.500000,0.007220,0.859551,0.588235,0.000000,1.000000,0.50,0.391218,0.308176,0.000,0.227129,0.2,0.585635
3,0.000000,0.437500,0.000000,0.168539,0.647059,0.000000,0.875000,0.00,0.351297,0.308176,0.000,0.119874,0.4,0.408840
4,0.009009,0.437500,0.000000,0.221910,0.441176,0.000000,0.718750,0.25,0.351297,0.308176,0.000,0.119874,0.0,0.585635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,0.981982,0.687500,0.279783,0.241573,0.558824,0.000510,0.687500,0.25,0.566866,0.308176,0.625,0.708202,0.0,0.259669
475,0.990991,0.512500,0.000000,0.488764,0.500000,0.000000,0.885417,0.75,0.399202,0.308176,0.625,0.093060,0.0,0.281768
476,1.000000,0.371875,0.234657,0.179775,0.676471,0.000000,0.416667,0.02,0.309381,0.308176,0.000,0.414826,0.0,0.165746
477,1.000000,0.453125,0.032491,0.064607,0.558824,0.000000,0.312500,0.00,0.359281,0.308176,0.000,0.165615,0.2,0.237569
478,1.000000,0.378125,0.175090,0.160112,0.647059,0.000000,0.552083,0.03,0.313373,0.308176,0.000,0.339117,0.0,0.248619

In [240]:
# Trainig and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(numerical_data_scaled, target_variable, test_size=0.2, random_state=10)

In [335]:
# Neural network model for classification for weather condition. condition_text is the target variable.
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
model = MLPClassifier(hidden_layer_sizes=(20, 50, 20), max_iter=1000, random_state=0, activation='relu', solver='adam', alpha=0.0001, batch_size='auto', learning_rate='constant', learning_rate_init=0.001, power_t=0.5, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True, early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08, n_iter_no_change=10, max_fun=15000)
model.fit(X_train, y_train)
predictions = model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
accuracy

c:\Users\himan\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

0.7083333333333334

In [336]:
# Check accuaracy for different models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
models = {
    'Logistic Regression': LogisticRegression(),
    'Random Forest': RandomForestClassifier(),
    'SVM': SVC(),
    'KNN': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier()
}
for model_name, model in models.items():
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    accuracy = accuracy_score(y_test, predictions)
    print(f'{model_name} accuracy: {accuracy}')

Logistic Regression accuracy: 0.625
Random Forest accuracy: 0.7395833333333334
SVM accuracy: 0.6145833333333334
KNN accuracy: 0.59375
Decision Tree accuracy: 0.6354166666666666

In [258]:
# actual vs predicted
actual_vs_predicted = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})
actual_vs_predicted.head(20)

      Actual  Predicted
1281       2          2
1120       5          5
2727       5          5
1920       1          1
1708       1          1
900        2          3
1773       7          2
1136       5          5
1490       9          9
670        5          1
2395       1          1
580        2          2
1724       2          5
1653       1          1
1953       3          3
1481       2          2
749        2          2
2408       3          3
1368       2          2
662        1          1

In [262]:
# Predict the weather condition for the null values in condition_text in original dataset

filtered_df = original_numerical_data[original_numerical_data['condition_text'].isnull()]
filtered_df

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,NaN,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,NaN,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
4,1,18.0,NaN,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
5,1,20.0,NaN,3.6,96,1019,0.0,88,0,20.0,10.0,1,11.2,1,786.0
7,1,21.0,NaN,20.2,330,1011,0.0,53,75,21.0,10.0,1,17.3,1,781.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,112,19.5,NaN,16.6,113,1015,0.0,38,0,19.5,10.0,1,26.7,1,721.0
2889,112,17.4,NaN,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,NaN,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,NaN,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,NaN,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [263]:
predict = filtered_df['condition_text']
filtered_df = filtered_df.drop('condition_text', axis=1)
filtered_df_scaled = scaler.transform(filtered_df)
filtered_df_scaled = pd.DataFrame(filtered_df_scaled, columns=filtered_df.columns)
filtered_df_scaled

,city_id,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,0.0,0.687500,0.045126,0.578652,0.323529,0.0,0.520833,0.75,0.530938,0.308176,0.625,0.176656,0.2,0.651934
1,0.0,0.531250,0.045126,0.466292,0.323529,0.0,0.718750,0.75,0.461078,0.308176,0.000,0.358044,0.0,0.640884
2,0.0,0.406250,0.000000,0.247191,0.705882,0.0,0.937500,0.00,0.331337,0.308176,0.000,0.130915,0.0,0.613260
3,0.0,0.468750,0.000000,0.258427,0.705882,0.0,0.875000,0.00,0.371257,0.308176,0.000,0.165615,0.0,0.602210
4,0.0,0.500000,0.299639,0.915730,0.470588,0.0,0.510417,0.75,0.391218,0.308176,0.000,0.261830,0.0,0.574586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2409,1.0,0.453125,0.234657,0.306180,0.588235,0.0,0.354167,0.00,0.361277,0.308176,0.000,0.410095,0.0,0.243094
2410,1.0,0.387500,0.169675,0.132022,0.647059,0.0,0.468750,0.00,0.319361,0.308176,0.000,0.339117,0.0,0.254144
2411,1.0,0.443750,0.142599,0.117978,0.617647,0.0,0.312500,0.00,0.355289,0.308176,0.000,0.324921,0.2,0.259669
2412,1.0,0.443750,0.194946,0.202247,0.647059,0.0,0.427083,0.02,0.355289,0.308176,0.000,0.381703,0.2,0.265193
2413,1.0,0.425000,0.247292,0.160112,0.617647,0.0,0.312500,0.00,0.343313,0.308176,0.000,0.465300,0.2,0.270718

In [272]:
# Predict the weather condition
predictions = model.predict(filtered_df_scaled)
pred_df = pd.DataFrame({'Predicted': predictions})
pred_df

      Predicted
0             4
1             2
2             1
3             1
4             2
...         ...
2409          1
2410          1
2411          1
2412          1
2413          1

[2414 rows x 1 columns]

In [266]:
# Combine the predicted values with the filtered DataFrame
filtered_df['condition_text'] = predictions
filtered_df

,city_id,temperature_celsius,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration,condition_text
0,1,27.0,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0,4
1,1,22.0,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0,2
4,1,18.0,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0,1
5,1,20.0,3.6,96,1019,0.0,88,0,20.0,10.0,1,11.2,1,786.0,1
7,1,21.0,20.2,330,1011,0.0,53,75,21.0,10.0,1,17.3,1,781.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887,112,19.5,16.6,113,1015,0.0,38,0,19.5,10.0,1,26.7,1,721.0,1
2889,112,17.4,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0,1
2890,112,19.2,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0,1
2891,112,19.2,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0,1
2892,112,18.6,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0,1

In [267]:
# Combine the filtered DataFrame with the original DataFrame
original_numerical_data.loc[original_numerical_data['condition_text'].isnull(), 'condition_text'] = filtered_df['condition_text']
original_numerical_data

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,4.0,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,2.0,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,7.0,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,1.0,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,1.0,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,1.0,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1,722.0
2889,112,17.4,1.0,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,1.0,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,1.0,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,1.0,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [268]:
# Convert the condition_text column back to the original categories
reverse_mapping = {1: 'Clear and Sunny', 2: 'Partly Cloudy', 3: 'Light Precipitation', 4: 'Cloudy and Overcast',
                   5: 'Mist or Fog', 6: 'Rain Showers', 7: 'Light Rain with Thunder', 8: 'Thunderstorms',
                   9: 'Moderate to Heavy Rain'}
original_numerical_data['condition_text'] = original_numerical_data['condition_text'].replace(reverse_mapping)
original_numerical_data

C:\Users\himan\AppData\Local\Temp\ipykernel_18348\923329232.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  original_numerical_data['condition_text'] = original_numerical_data['condition_text'].replace(reverse_mapping)

,city_id,temperature_celsius,condition_text,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,feels_like_celsius,visibility_km,uv_index,gust_kph,air_quality_us-epa-index,daylight_duration
0,1,27.0,Cloudy and Overcast,6.1,210,1006,0.0,54,75,28.0,10.0,6,11.9,2,795.0
1,1,22.0,Partly Cloudy,6.1,170,1006,0.0,73,75,24.5,10.0,1,23.4,1,793.0
2,1,20.0,Light Rain with Thunder,3.6,10,1011,4.5,100,75,20.0,10.0,1,12.6,1,793.0
3,1,17.0,Clear and Sunny,6.1,150,1018,0.0,88,0,17.0,10.0,1,11.2,1,790.0
4,1,18.0,Clear and Sunny,3.6,92,1019,0.0,94,0,18.0,10.0,1,9.0,1,788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2888,112,17.1,Clear and Sunny,13.3,61,1017,0.0,57,3,17.1,10.0,1,22.2,1,722.0
2889,112,17.4,Clear and Sunny,13.0,51,1017,0.0,49,0,17.4,10.0,1,22.2,1,723.0
2890,112,19.2,Clear and Sunny,11.5,46,1016,0.0,34,0,19.2,10.0,1,21.3,2,724.0
2891,112,19.2,Clear and Sunny,14.4,76,1017,0.0,45,2,19.2,10.0,1,24.9,2,725.0
2892,112,18.6,Clear and Sunny,17.3,61,1016,0.0,34,0,18.6,10.0,1,30.2,2,726.0

In [270]:
# Read submission file and update the condition_text column
submission_file = 'submission.csv'
submission_data = pd.read_csv(submission_file)
submission_data['condition_text'] = original_numerical_data['condition_text']
submission_data.head(20)

   day_id           condition_text
0   D0001      Cloudy and Overcast
1   D0002            Partly Cloudy
2   D0003  Light Rain with Thunder
3   D0004          Clear and Sunny
4   D0005          Clear and Sunny
5   D0006          Clear and Sunny
6   D0007            Partly Cloudy
7   D0008            Partly Cloudy
8   D0009            Partly Cloudy
9   D0010            Partly Cloudy
10  D0011          Clear and Sunny
11  D0012          Clear and Sunny
12  D0013          Clear and Sunny
13  D0014          Clear and Sunny
14  D0015          Clear and Sunny
15  D0016          Clear and Sunny
16  D0017            Partly Cloudy
17  D0018          Clear and Sunny
18  D0019          Clear and Sunny
19  D0020      Light Precipitation

In [271]:
# Save the updated submission file
submission_data.to_csv('submission_p220.csv', index=False)